.color{
    font-family: cursive;
    background-color: rgb(90, 3, 37);
}

header{
    height: 160px;
    background: rgb(202, 14, 117, 0.726);
    border: thick double rgb(128, 18, 64, 0.596);
}

.header__text{
    font-family: cursive;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}
header img{
    float: left;
    height: 140px;
    width: 200px;
}
.nav{ 
    list-style: none;
} 

.nav-item li{
    background-color:rgb(41,42,52,0.733) ;
    /* width: 90%; */
    text-align: center; 
    /* margin: 10px;  */
    font-size: 1ch;
    border: 0.5px solid ;
    /* padding: 10px; */
}

.nav a{
    color: rgb(59, 58, 58);
    display: block; 
    font-family: cursive;
    text-decoration: none;
}

.nav a:hover{
    color: rgb(132, 29, 72);
    transition: 0.3s linear;
}

.container{
    font-family: cursive;
}

.content-of-body{
    background-color: rgb(213, 188, 228);  
}

.conURLS img{
    width: 100%;
}
.container__table{
    background-color: rgb(213, 188, 228);
}
.container__form{
    background-color: rgb(213, 188, 228);
}
.conURLS {
    background-color: rgb(213, 188, 228);
}
.nav a{
    background-color: rgba(41,42,52, 0.733);
    font-size: 20px;
}

.tables{
    background-color: rgb(213, 188, 228);
}
table{
    /* width: 100%; */
    font-size: 22px;
    font-family: cursive;
    text-decoration: underline;
    background-color: rgb(138, 132, 133); 
}

table,th,td{
    border: 2px solid rgb(87,8,54); 
    border-color: rgb(36,7,13,0.842);
    text-align: center;
}

.conURLS a{
    color: rgb(48, 46, 46); 
}

.conURLS a:hover{
    color: rgb(41,42,52, 0.733) ;
    transition: 0.3s linear;
}

tbody tr:nth-child(odd){
    background-color: rgba(221,90,178,0.63);
}
tbody tr:nth-child(even){
    background-color: rgba(47,163,134,0.685);
}

.table a{
    color: rgb(48, 46, 46);   
}

.table a:hover{
    color: rgba(41,42,52,0.733) ;
    transition: 0.3s linear;
} 

.content-of-form{
    font-family: cursive;
    border:2px solid;
}

.content-of-form input{
    background-color: rgb(48, 46, 46);
    color: rgba(247, 255, 255);
}

.content-of-form select{
    background-color: rgb(48, 46, 46);
    color: rgba(247, 255, 255);
}

.content-of-form textarea{
    background-color: rgb(48, 46, 46);
    color: rgba(91,223,212,0.733);
}

.footer{
    width: 100%;
    background-color: rgb(41,42,52,0.226);
    box-shadow: 10px 10x 10px 5px rgba(87,86,86,0.281);
}
.footrow{
    height: 60px;
    font-family: cursive;
}
.foottext{
    font-size: 15px;
    letter-spacing: 0.4px;
}